<!--Document Popup-->
    <div id="viewModal" class="bg-soft-gray flex justify-center hidden z-50 w-full max-h-[85vh] overflow-y-auto scroll">
      <div class=" p-6 max-w-md w-full relative">
        <button id="closeModal" class="absolute top-7 -right-40  cursor-pointer text-2xl">
          <span class="material-symbols-outlined">close</span>
        </button>
        <p class="font-semibold text-xl mb-4 flex items-center gap-2"><span
            class="material-symbols-outlined">document_scanner</span>Incorporation Certificate</p>
        <div id="modalContent" class="text-center bg-white rounded-md w-145 h-180">
          <img src="{% static 'images/incorp-certificate.svg' %}" alt="">
        </div>
        <div class="flex items-center relative justify-between pt-1">
          <p class="font-normal text-xs text-dark-gray">Image (JPG, PNG). Maximum file size: 1MB.</p>
          <div class="flex items-center gap-2 pl-22 absolute left-full  text-nowrap">
            <p class="font-normal text-sm text-emerald-green">Virus Scan</p>
            <input type="checkbox"
              class="text-emerald-green w-4 h-4 text-lg cursor-pointer rounded-xs focus:ring-0 focus:ring-offset-0"
              checked>
          </div>
        </div>

        <!--Buttons-->
        <div class="flex justify-between items-center pt-2 w-full">
          <button>
            <p
              class="flex items-center gap-2 border border-violet-sky bg-white text-violet-sky px-4 py-2 rounded-md cursor-pointer">
              <span class="material-symbols-outlined">upload</span>Replace</p>
          </button>
          <button class="ml-100">
            <p class="px-4 py-2 rounded-md cursor-pointer bg-violet-sky text-white">Save</p>
          </button>
        </div>
      </div>
    </div>