<!--Notification Popup-->
      <div id="popup"
            class="hidden absolute right-20 top-15 mt-2 bg-white shadow-lg rounded-md z-50 w-130 border border-violet-sky">
            <div class="flex justify-between items-center p-4">
              <p class="font-semibold text-lg text-dark-gray">
                Notifications
              </p>
              <span class="material-symbols-outlined cursor-pointer "id='close-popup'>
                close
              </span>
            </div>
            <div class="bg-white shadow-md rounded-md p-2 m-4 flex justify-between items-center">
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined bg-violet-sky rounded-full p-1 text-white">
                  notifications
                </span>
                <p class="font-semibold text-sm text-dark-gray">
             Your Account has been updated
                </p>
              </div>
              <div class="bg-violet-sky rounded-full w-2 h-2"></div>
            </div>
             <div class="bg-white shadow-md rounded-md p-2 m-4 flex justify-between items-center">
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined bg-violet-sky rounded-full p-1 text-white">
                  notifications
                </span>
                <p class="font-semibold text-sm text-dark-gray">
                 Your Password has been updated
                </p>
              </div>
              <div class="bg-violet-sky rounded-full w-2 h-2"></div>
            </div>
             <div class="bg-white shadow-md rounded-md p-2 m-4 flex justify-between items-center">
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined bg-violet-sky rounded-full p-1 text-white">
                  notifications
                </span>
                <p class="font-semibold text-sm text-dark-gray">
                  You have earned 50 credit points through referral
                </p>
              </div>
              <div class="bg-violet-sky rounded-full w-2 h-2"></div>
            </div>
            <div class="bg-white shadow-md rounded-md p-2 m-4 flex justify-between items-center">
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined bg-violet-sky rounded-full p-1 text-white">
                  notifications
                </span>
                <p class="font-semibold text-sm text-dark-gray">
                New Event added to the Calender
                </p>
              </div>
             
            </div>
      </div>