{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Services{% endblock %}

{% block content %}
<div class="main-section relative transition-all duration-300 main-content h-full flex-1 flex flex-col p-6 overflow-y-auto scroll">
    <div class="show-sidebar-toggle hidden fixed top-25 left-12 z-50 h-10 w-10 bg-light-sky-blue-tint items-center justify-center rounded-r-md cursor-pointer">
        <span class="material-symbols-outlined bold-weight text-dodger-blue">arrow_forward_ios</span>
    </div>

    <div class="px-2 sm:px-4 py-4 space-y-5">
        <div class="flex flex-col gap-3 sm:gap-0 sm:flex-row sm:items-center sm:justify-between">
            <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined">gavel</span>
                    <h1 class="text-xl font-medium">Services</h1>
                </div>
                <div id="date" class="font-normal text-base"></div>
            </div>
            <div class="flex flex-col gap-2 lg:items-center">
                <div class="flex flex-col gap-2">
                    <div class="font-normal text-base flex items-center gap-2">
                        <span class="material-symbols-outlined !text-base">location_on</span>
                        <span>
                            {% if hospital_profile.city %}{{ hospital_profile.city.name }}, {% endif %}{{ hospital_profile.country|default:"India" }}
                        </span>
                    </div>
                    <div class="flex items-center gap-2">
                        <p>Auto Bid</p>
                        <label class="relative inline-block w-12 h-6 cursor-pointer mt-1">
                            <input type="checkbox" class="sr-only peer">
                            <div class="w-11 h-4 rounded-full bg-gray-300 peer-checked:bg-powder-teal transition-colors mt-0.5"></div>
                            <div class="absolute -top-0.5 left-0 w-6 h-6 bg-gray-500 rounded-full transition-transform peer-checked:translate-x-6 peer-checked:bg-deep-teal"></div>
                        </label>
                        <div class="bg-gradient-to-r from-caribbean-green to-azure-radiance w-6 h-6 rounded-[7px] text-white text-xs flex items-center justify-center">Rx</div>
                    </div>
                </div>
            </div>
        </div>
        {% if not has_services %}
            {% include 'hospital/partials/empty_state_page.html'%}
        {% else %}
            {% if has_premium %}
                {% include 'hospital/partials/premium_section.html' %}
            {% else %}
                {% include 'hospital/partials/services_without_premium.html' %}
            {% endif %}
        {% endif %}
    </div>
            <!-- Add Service Popup -->
            {% include 'hospital/partials/add_services_popup.html'%}
</div>
{{ hospital_categories|json_script:"hospital-categories-data" }}
{{ hospital_services|json_script:"hospital-services-data" }}
{{ hospital_bed_rooms|json_script:"hospital-bed-rooms-data" }}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/service-hospital.js' %}"></script>
<script src="{% static 'js/common-services.js' %}"></script>
<script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}
