{% extends "dashboard/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main Content -->
            <div
                class="relative transition-all duration-300 main-content bg-slate-white h-full flex-1 flex flex-col gap-8 p-6 overflow-y-auto scroll">
                <div
                    class="show-sidebar-toggle hidden fixed top-[100px] left-0 z-50 h-10 w-10 bg-light-dodger-blue items-center justify-center rounded-r-md cursor-pointer">
                    <span class="material-symbols-outlined bold-weight text-dodger-blue">
                        arrow_forward_ios
                    </span>
                </div>
                 <div class="bg-white rounded-[10px] p-5">
                    <div class="flex flex-col gap-3 sm:gap-0 sm:flex-row sm:items-center sm:justify-between">
                        <div class="flex flex-col  gap-2">
                            <div class="flex items-center gap-2">
                                <span class="material-symbols-outlined text-xl! font-semibold!">home</span>
                                <h1 class="text-base font-semibold">Home</h1>
                                
                            </div>
                            <div id="date" class="font-normal text-base"></div>
                        </div>
                        <div class="flex flex-col  gap-2 lg:items-center " id="infoSection">
                            <div class="flex flex-col gap-2">
                                <div id="location" class="font-normal text-base flex items-center gap-2">
                                    <span class="material-symbols-outlined !text-base"> location_on </span>
                                    <span id="location-text">
                                        {{ pharmacy_profile.city|default:"Location unavailable" }}
                                    </span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <p>Auto Bid </p>
                                    <label class="relative inline-block w-12 h-6 cursor-pointer mt-1">
                                        <input type="checkbox" class="sr-only peer">
                                        <div
                                            class="w-11 h-4 rounded-full bg-gray-300 peer-checked:bg-powder-teal transition-colors mt-0.5">
                                        </div>
                                        <div
                                            class="absolute -top-0.5 left-0 w-6 h-6 bg-gray-500 rounded-full transition-transform peer-checked:translate-x-6 peer-checked:bg-deep-teal">
                                        </div>
                                    </label>
                                    <div
                                        class="bg-gradient-to-r from-caribbean-green to-azure-radiance w-6 h-6 rounded-[7px] text-white text-xs flex items-center justify-center">
                                        Rx</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Map-->
                    <div class="flex flex-col lg:flex-row items-start gap-3 pt-5 ml-3">

                        <!-- LEFT SECTION -->
                        <div class="relative lg:w-[80%] w-full">
                            <img
                                src="/static/images/map-bg.png"
                                alt="Map"
                                class="w-full h-[330px] object-cover rounded-lg"
                            >

                            <div class="absolute inset-0 flex items-end">
                                <div class="bg-semi-transparent-black backdrop-blur-sm w-full text-white px-6 py-4 rounded-b-lg">

                                    <div class="flex flex-col gap-2">
                                        <div class="flex items-center gap-2">
                                            <span class="material-symbols-outlined">home</span>

                                            <p class="text-base font-semibold">
                                                {{ pharmacy_profile.company_name|default:"Pharmacy" }}
                                            </p>
                                        </div>

                                        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                                            <p class="font-semibold text-sm">
                                                {{ pharmacy_profile.address|default:"Address not available" }}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- RIGHT PROFILE -->
                        <div class="bg-pale-azure lg:w-[20%] h-[330px] px-4 py-2 rounded-lg">

                            <h1 class="text-center text-lg font-semibold">
                                Admin Details
                            </h1>

                            <div class="flex items-center justify-center py-[22.5px]">
                                <img src="/static/images/admin-profile.svg" alt="">
                            </div>

                            <!-- <div class="flex flex-col items-center gap-2">
                                <p class="font-semibold text-sm">Jhon Doe</p>

                                <p class="font-semibold text-sm text-dodger-blue">
                                    +91 7763847590
                                </p>

                                <p class="font-semibold text-sm">
                                    Designation: Receptionist
                                </p> -->
                                <p class="font-semibold text-sm">
                                   {{ contact_person.name|default:"N/A" }}
                                </p>

                                <p class="font-semibold text-sm text-dodger-blue">
                                    +91 {{ contact_person.phone_number|default:"N/A" }}
                                </p>

                                <p class="font-semibold text-sm">
                                    Designation:
                                    {{ contact_person.role|default:"N/A" }}
                                </p>
                            </div>

                        </div>

                    </div>

                    <!--Overview-->
                    <div class="pt-5 flex flex-col ml-3">
                        <div class="flex justify-between items-center">
                        <p class="font-semibold text-lg">Overview</p>
                        <div class="flex items-center gap-2.5">
                            <p class="font-normal text-sm">Today</p>
                            <div class="relative dropdown">
                            <button
                                class="filterToggle  flex items-center border border-blue-haze rounded-md p-1 w-8 h-8 cursor-pointer">
                                <span class="material-symbols-outlined flex justify-center items-center">tune</span>
                            </button>
                            <div
                                class="filterDropdown absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-10">
                                <div
                                class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                <span class="material-symbols-outlined !text-lg text-dodger-blue">
                                    check
                                </span>Today
                                </div>
                                <div
                                class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                <span class="material-symbols-outlined !text-lg text-light-gray">
                                    check
                                </span>Week
                                </div>
                                <div
                                class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                <span class="material-symbols-outlined !text-lg text-light-gray">
                                    check
                                </span>Month
                                </div>
                                <div
                                class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-pale-azure  rounded font-normal text-base text-dark-gray">
                                <div class="flex items-center gap-2">
                                    <span class="material-symbols-outlined !text-lg text-light-gray">
                                    check
                                    </span>Custom
                                </div>
                                <span class="material-symbols-outlined calendar-icon">calendar_today</span>
                                </div>
                            </div>
                            <div
                                class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                                <div class="datepicker-inline"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 pt-4">
                        <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center">
                            <div class="flex flex-col gap-2">
                            <p class="font-normal text-sm">Total Orders Today</p>
                            <p class="font-semibold text-2xl">12</p>
                            <p class="text-green font-normal text-xs">Confirmed: 7</p>
                            <p class="text-golden-yellow1 font-normal text-xs">Pending: 3</p>
                            </div>
                            <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                            <img src="/static/images/orders-box.svg" alt="">
                            </div>
                        </div>

                        <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center">
                            <div class="flex flex-col gap-2">
                            <p class="font-normal text-sm">Medicine in Stock</p>
                            <p class="font-semibold text-2xl">1,240</p>
                            <p class="font-normal text-xs text-green">Available: 1,110</p>
                            <p class="font-normal text-xs text-crimson-red2">Low Stock: 34</p>
                            </div>
                            <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                            <img src="/static/images/stock-medicine.svg" alt="">
                            </div>
                        </div>

                        <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center">
                            <div class="flex flex-col gap-2">
                            <p class="font-normal text-sm">Revenue</p>
                            <p class="font-semibold text-2xl">₹48,630</p>
                            <p class="text-green font-normal text-xs">Prescribe Orders: ₹36,400 </p>
                            <p class="text-golden-yellow1 font-normal text-xs">OTC Sales: ₹12,220</p>
                            </div>
                            <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                            <img src="/static/images/revenue-wallet.svg" alt="">
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Scheduled Orders -->
                    <div class="pt-5 flex flex-col ml-3">
                        <div class="flex justify-between items-center">
                            <p class="font-semibold text-lg">Scheduled Order</p>
                            <a href="{% url 'orders' %}"
                            class="text-dodger-blue text-sm font-normal">
                                View all
                            </a>
                        </div>

                        <div class="grid grid-cols-1 lg:grid-cols-3 pt-4 gap-2">

                            {% for order in scheduled_orders %}
                            <div
                                class="order-card popup-btn border border-snow rounded-lg bg-white shadow-lg p-4 flex items-center gap-4 cursor-pointer"
                                data-popup="order-details-popup" data-order-id="{{ order.id }}">

                                <!-- Static Image -->
                                <div>
                                    <img src="/static/images/patient-1.svg" alt="Patient Profile">
                                </div>

                                <div class="flex flex-col gap-2">

                                    <!-- Status Badge -->
                                    <div
                                        class="rounded-lg px-3 py-2 font-semibold text-xs w-fit
                                        {% if order.order_status == 'Pending' %}
                                            bg-pale-azure text-dodger-blue
                                        {% elif order.order_status == 'Confirmed' %}
                                            bg-peach text-burnt-orange
                                        {% elif order.order_status == 'Shipped' %}
                                            bg-peach text-burnt-orange
                                        {% else %}
                                            bg-gray-100 text-gray-600
                                        {% endif %}">
                                        <p>{{ order.order_status|title }}</p>
                                        {% comment %} <p>Status: {{ order.bids__bid_status }}</p>
                                        <p>Order: {{ order.id }}</p> {% endcomment %}
                                    </div>

                                    <!-- Dynamic Data -->
                                    <p class="font-semibold text-sm">
                                        Pt.
                                        {% if order.user__userprofile__first_name %}
                                            {{ order.user__userprofile__first_name }}
                                            {{ order.user__userprofile__last_name|default:'' }}
                                        {% else %}
                                            Customer
                                        {% endif %}
                                    </p>

                                    <p class="font-semibold text-sm">
                                        #{{ order.id }}
                                    </p>

                                    <p class="font-normal text-sm text-green">
                                        {{ order.created_at|date:"d/m/Y, h:i A" }}
                                    </p>

                                </div>
                            </div>
                            {% empty %}
                            <div class="col-span-3 text-center py-6 text-gray-500">
                                No scheduled orders found.
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- Subscription Details -->
                    <div class="bg-white border border-cool-ice-gray rounded-sm p-4 flex flex-col gap-4 mt-5 ml-3">
                        <div class="flex items-center justify-between">
                        <p class="font-semibold text-lg text-midnight-blue-gray">Subscription Details</p>
                        <div class="w-[120px] h-10 flex items-center justify-center bg-premium-light-blue rounded-[10px]">
                            {% if active_subscription %}
                                <span class="font-semibold text-base text-primary-blue">
                                    Active
                                </span>
                            {% else %}
                                <span class="font-semibold text-base text-red-500">
                                    Inactive
                                </span>
                            {% endif %}
                        </div>
                        </div>
                        <div class="flex items-center justify-between">
                        <p class="font-normal text-lg text-midnight-blue-gray">Premium Subscription Plan</p>
                        <p class="font-bold text-[32px] text-blue-charcoal">&#8377;999<span
                            class="font-normal text-base">/month</span></p>
                        </div>
                        <div class="flex flex-col gap-3">
                        <div class="flex items-center justify-between">
                            <p class="font-semibold text-base text-cool-gray">High-value leads</p>
                            <p class="font-normal text-sm text-cool-gray text-left">24th May, 2026 (32 days left)</p>
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="font-semibold text-base text-cool-gray">Fewer but richer bids</p>
                            <p class="font-normal text-sm text-cool-gray text-left! shrink-0">Featured listing</p>
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="font-semibold text-base text-cool-gray">Doctors gain in efficiency</p>
                            <p class="font-normal text-sm text-cool-gray ">Analytics Dashboard</p>
                        </div>
                        </div>
                        <div class="pt-3.5 flex items-center justify-center">
                        <a href="{% url 'settings_page' %}?tab=subscription" class="bg-primary-blue w-[322px] h-10 rounded-lg flex items-center justify-center">
                            <span class="font-semibold text-sm text-white">View Plan Details</span>
                        </a>
                        </div>
                    </div>

                   <!-- Popular Coupons -->
                    <div class="pt-5 flex flex-col ml-3">
                        <div class="flex justify-between items-center">
                        <p class="font-semibold text-lg">Popular Coupons </p>
                        <a href="/src/newPharmacy/settings.html#rewards" class="text-dodger-blue text-sm font-normal">View all</a>
                        </div>

                        <div id="popular-coupons">
                        <!--Coupon1-->
                        <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                            <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                            <div class="flex flex-col">
                                <p class="font-bold text-sm text-dodger-blue tracking-[0.25em] uppercase">
                                Category : Brand name
                                </p>
                                <p class="font-bold text-lg text-jet-black">
                                25% Off Premium Supplements
                                </p>
                                <p class="font-normal text-base text-dark-gray">
                                Complete health assessment including blood work, cardiac
                                evaluation, and nutritionist consultation
                                </p>
                            </div>
                            <div class="flex flex-col pt-4">
                                <div class="flex lg:justify-between lg:items-center gap-6">
                                <p class="font-normal text-base text-jet-black">Redeemed</p>
                                <p class="text-xs font-medium text-jet-black">50/100</p>
                                </div>
                                <div class="w-full max-w-md pt-4">
                                <div class="w-full bg-gray-200 rounded-full h-2">
                                    <div class="bg-dodger-blue h-2 rounded-full w-[50%]"></div>
                                </div>
                                </div>
                            </div>
                            <div class="hidden lg:block h-20 w-px bg-dodger-blue mx-4"></div>
                            <div class="pt-4">
                                <button
                                class="bg-dodger-blue font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                #123GHJSAI<span class="material-symbols-outlined">
                                    content_copy
                                </span>
                                </button>
                            </div>
                            </div>
                        </div>
                        <!--Coupon2-->
                        <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                            <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                            <div class="flex flex-col">
                                <p class="font-bold text-sm text-dodger-blue tracking-[0.25em] uppercase">
                                Category : Brand name
                                </p>
                                <p class="font-bold text-lg text-jet-black">
                                25% Off Premium Supplements
                                </p>
                                <p class="font-normal text-base text-dark-gray">
                                Complete health assessment including blood work, cardiac
                                evaluation, and nutritionist consultation
                                </p>
                            </div>
                            <div class="flex flex-col pt-4">
                                <div class="flex lg:justify-between lg:items-center gap-6">
                                <p class="font-normal text-base text-jet-black">Redeemed</p>
                                <p class="text-xs font-medium text-jet-black">50/100</p>
                                </div>
                                <div class="w-full max-w-md pt-4">
                                <div class="w-full bg-gray-200 rounded-full h-2">
                                    <div class="bg-dodger-blue h-2 rounded-full w-[50%]"></div>
                                </div>
                                </div>
                            </div>
                            <div class="hidden lg:block h-20 w-px bg-dodger-blue mx-4"></div>
                            <div class="pt-4">
                                <button
                                class="bg-dodger-blue font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                #123GHJSAI<span class="material-symbols-outlined">
                                    content_copy
                                </span>
                                </button>
                            </div>
                            </div>
                        </div>
                        <!--Coupon3-->
                        <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                            <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                            <div class="flex flex-col">
                                <p class="font-bold text-sm text-dodger-blue tracking-[0.25em] uppercase">
                                Category : Brand name
                                </p>
                                <p class="font-bold text-lg text-jet-black">
                                25% Off Premium Supplements
                                </p>
                                <p class="font-normal text-base text-dark-gray">
                                Complete health assessment including blood work, cardiac
                                evaluation, and nutritionist consultation
                                </p>
                            </div>
                            <div class="flex flex-col pt-4">
                                <div class="flex lg:justify-between lg:items-center gap-6">
                                <p class="font-normal text-base text-jet-black">Redeemed</p>
                                <p class="text-xs font-medium text-jet-black">50/100</p>
                                </div>
                                <div class="w-full max-w-md pt-4">
                                <div class="w-full bg-gray-200 rounded-full h-2">
                                    <div class="bg-dodger-blue h-2 rounded-full w-[50%]"></div>
                                </div>
                                </div>
                            </div>
                            <div class="hidden lg:block h-20 w-px bg-dodger-blue mx-4"></div>
                            <div class="pt-4">
                                <button
                                class="bg-dodger-blue font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                #123GHJSAI<span class="material-symbols-outlined">
                                    content_copy
                                </span>
                                </button>
                            </div>
                            </div>
                        </div>

                        </div>

                    </div>

                    <!-- Order Details Popup -->
                    <div
                        class="order-details-popup popup-overlay fixed inset-0 bg-black/40 hidden items-center justify-center z-50 px-3">
                        <div
                        class="popup-content rounded-[8px] w-[680px] max-h-[90vh] overflow-y-auto relative shadow-xl bg-white p-4 scroll">
                        <!-- Header -->


                        <div class="flex justify-between items-center px-6 py-3  border-blue-haze z-10">
                            <h2 class="text-base font-bold">User Information</h2>
                            <div class="flex items-center gap-4">
                            <button class="cursor-pointer pharmacy-open-share">
                                <span class="material-symbols-outlined !text-xl">share</span>
                            </button>

                            <!-- Pharmacy Share Popup -->
                            <div class="pharmacy-share-modal hidden fixed inset-0 bg-black/40 z-50 items-center justify-center">

                                <div class="bg-white w-[520px] rounded-lg shadow-lg p-6 relative">

                                <!-- Header -->
                                <div class="flex justify-between items-center">
                                    <p class="font-semibold text-xl">Share</p>
                                    <span class="material-symbols-outlined pharmacy-close-share cursor-pointer">
                                    close
                                    </span>
                                </div>

                                <hr class="mt-4" />

                                <!-- Share Icons -->
                            <div class="flex justify-between pt-4">
                                <div class="flex flex-col items-center gap-2 w-20 text-center">
                                    <img id="shareWhatsapp"
                                        src="/static/images/whatsappicon.svg"
                                        class="w-10 h-10 cursor-pointer" />
                                    <p>Whatsapp</p>
                                </div>

                                <div class="flex flex-col items-center gap-2 w-20 text-center">
                                    <img id="shareTelegram"
                                        src="/static/images/telegramicon.svg"
                                        class="w-10 h-10 cursor-pointer" />
                                    <p>Telegram</p>
                                </div>

                                <div class="flex flex-col items-center gap-2 w-20 text-center">
                                    <img id="shareFacebook"
                                        src="/static/images/facebookicon.svg"
                                        class="w-10 h-10 cursor-pointer" />
                                    <p>Facebook</p>
                                </div>

                                <div class="flex flex-col items-center gap-2 w-20 text-center">
                                    <img id="shareSMS"
                                        src="/static/images/smsicon.svg"
                                        class="w-10 h-10 cursor-pointer" />
                                    <p>Message</p>
                                </div>

                                <div class="flex flex-col items-center gap-2 w-20 text-center">
                                    <img id="shareEmail"
                                        src="/static/images/gmailicon.svg"
                                        class="w-10 h-10 cursor-pointer" />
                                    <p>E-mail</p>
                                </div>
                            </div>

                                <!-- Copy Link -->
                                <div class="pt-4 relative mt-6">
                                    <input type="text" class="pharmacy-share-link w-full rounded-md p-4 text-sm border"
                                    value="https://avatar.com/shorts/cZKr0CtLuYU?si=RHci" disabled />

                                    <button
                                    class="pharmacy-copy-btn absolute right-3 top-6 bg-dodger-blue text-white rounded-md p-2">
                                    Copy
                                    </button>
                                </div>

                                </div>
                            </div>


                            <span
                                class="close-popup material-symbols-outlined close-icon cursor-pointer text-black text-[13.15px]"
                                data-popup="order-details-popup">close</span>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="space-y-4">
                            <div class="rounded-[12px] p-4 space-y-6">
                            <!-- Customer Info -->
                            <div class="bg-blue-50 p-4 rounded-md flex gap-4">
                                <div class="flex flex-col ">
                                <img id="profileImage" src="/static/images/dolly-paris1.svg" alt="">
                                <p id="patientName" class="font-normal text-sm text-center pt-4">-</p>
                                <p id="orderNumber" class="font-normal text-sm text-center pt-2">-</p>

                                </div>

                                <div class="flex flex-col gap-4 w-[180px]">
                                <div class="flex  gap-2">
                                    <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                                    <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                        female
                                    </span>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                    <p class="font-normal text-xs text-spanish-gray">Gender</p>
                                    <p id="gender" class="font-normal text-sm">-</p>
                                    </div>
                                </div>

                                <div class="flex  gap-2">
                                    <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                                    <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                        hourglass
                                    </span>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                    <p class="font-normal text-xs text-spanish-gray">Age</p>
                                    <p id="age" class="font-normal text-sm">-</p>
                                    </div>
                                </div>

                                </div>

                                <div class="flex flex-col gap-4">
                                <div class="flex  gap-2">
                                    <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                                    <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                        call
                                    </span>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                    <p class="font-normal text-xs text-spanish-gray">Phone no.</p>
                                    <p id="phoneNumber" class="font-normal text-sm">-</p>
                                    </div>
                                </div>

                                <div class="flex  gap-2">
                                    <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                                    <img src="/static/images/address-icon.svg" alt="">
                                    </div>
                                    <div class="flex flex-col gap-2">
                                    <p class="font-normal text-xs text-spanish-gray">Address</p>
                                    <p id="addressText" class="font-normal text-sm">-</p>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <hr class="mt-4 text-blue-haze">


                            <!-- Delivery Location -->
                            <div id="openMap"
                                class="flex items-center justify-between p-[12px] border border-light-gray2 rounded-[8px] cursor-pointer">

                                <div class="flex items-center gap-3">
                                <img src="/static/images/map_button.svg" alt="map icon" class="w-[33px] h-[30px]" />
                                <div>
                                    <p class="text-raisin-black text-sm">Delivering to <span class="font-semibold">Saket
                                        Enclave</span> </p>
                                    <p class="text-jet-black text-xs">Chhijarpur, New Delhi</p>
                                </div>
                                </div>

                                <span class="material-symbols-outlined text-dark-gray text-[18px]">
                                chevron_right
                                </span>
                            </div>

                            <!-- QR Code Section -->
                            <div class="p-[12px] border border-light-gray2 rounded-[8px] qr-section">

                                <!-- Header -->
                                <div class="flex items-center justify-between cursor-pointer qr-toggle">
                                <div>
                                    <p class="text-ebony font-bold text-sm">QR Code for Payment</p>
                                    <p class="text-ebony font-medium text-xs">
                                    Date: Tue, 25 June 2025 - 11:32 AM
                                    </p>
                                </div>
                                <span class="material-symbols-outlined pl-[6.43px] text-dark-gray qr-icon">
                                    expand_more
                                </span>
                                </div>

                                <!-- QR CONTENT -->
                                <div class="qr-content hidden mt-4 w-full flex justify-center items-center">
                                <img src="/static/images/sample-qr.png" alt="Payment QR"
                                    class="w-[160px] h-[160px] object-contain mx-auto" />
                                </div>

                            </div>

                            <!-- Progress Bar -->
                            <div class="enquiredDetail">
                                <div class="flex flex-col mt-4 py-4 gap-4">
                                <!-- Progress Bar -->
                                <div class="flex justify-center items-center gap-1">
                                    <!-- Enquiry -->
                                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>

                                    <!-- Appointment -->
                                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>

                                    <!-- Completed -->
                                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                                    <div class="w-[138px] h-0.5 bg-blue-haze"></div>

                                    <!-- Cancel/Expired -->
                                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                                </div>

                                <!-- Labels (text colors unchanged) -->
                                <div class="flex items-center justify-between mx-10">
                                    <p class="pl-6 text-ebony font-normal text-sm">Enquiry</p>
                                    <p class="pl-2 text-ebony font-normal text-sm">Ongoing
                                    </p>
                                    <p class="text-arctic-gray font-normal text-sm">Completed</p>
                                    <p class="text-arctic-gray font-normal text-sm">Cancel/Expired</p>
                                </div>
                                </div>
                            </div>
                            <!-- Medicine Items -->
                            <div id="medicineContainer" class="space-y-3"></div>
                            
                            <!-- Order Info -->
                            <div class="pt-4 flex flex-col gap-2">
                                <div class="flex justify-between items-center">
                                <p class="font-normal text-sm">Order ID</p>
                                <p class="font-normal text-sm">6 km</p>
                                </div>
                                <div class="flex justify-between items-center">
                                <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                                <p class="font-normal text-sm">20 mins away</p>
                                </div>
                            </div>

                            <div class="flex justify-between items-center mt-4">
                                <label class="flex items-center gap-2 cursor-pointer">

                                <span class="font-normal text-sm">No Show</span>
                                <input type="checkbox" class="w-4 h-4 accent-dodger-blue rounded cursor-pointer">
                                </label>
                                <p class="font-normal text-sm text-spanish-gray">Customer didn’t show up</p>
                            </div>

                            <div class="mt-2 flex justify-between items-center">
                                <div class="flex gap-2 items-center">
                                <p class="font-normal text-sm">Total</p>
                                <p id="orderTotal" class="font-normal text-sm text-dodger-blue">₹0</p>
                                </div>
                                <div
                                class="border border-dodger-blue bg-pale-azure px-2.5 py-1 rounded-lg flex items-center gap-2 cursor-pointer">
                                <p class="font-normal text-sm">View Invoice</p>
                                <span class="material-symbols-outlined !text-lg">visibility</span>
                                </div>
                            </div>


                            <!-- Action Buttons -->
                            <div class="flex justify-center gap-3">
                            <button
                                class="close-popup w-[160px] px-6 py-3 rounded-[8px] bg-dodger-blue text-white text-[15px] popup-btn"
                                data-popup="order-details-popup">
                                Complete
                            </button>

                            <button
                                class="close-popup w-[160px] close-popup px-6 py-3 rounded-[8px] border border-strong-red text-strong-red text-[15px] popup-btn"
                                data-popup="cancel-order-popup">
                                Cancel Order
                            </button>
                            </div>
                            <!--cancel order Popup-->
                            <div
                            class="cancel-order-popup popup-overlay fixed inset-0 bg-black/40 hidden items-center justify-center z-50 px-3">
                            <div
                                class="popup-content rounded-[8px] w-[616px] overflow-y-auto relative shadow-xl bg-white p-4 scroll">
                                <div class="absolute right-4 close-popup" data-popup="cancel-order-popup">
                                <span class="material-symbols-outlined cursor-pointer">close</span>
                                </div>
                                <!-- Icon -->
                                <div class="flex items-center justify-center mb-4">
                                <div class="w-[60px] h-[60px] rounded-full bg-rosewater flex items-center justify-center">
                                    <img src="/static/images/cancelorder-icon.svg" alt="cancelorder icon"
                                    class="w-[32px] h-[32px] " />
                                </div>
                                </div>
                                <!-- Message -->
                                <p class="text-center text-dark-gray font-regular text-base mb-6">
                                Are you sure you want to cancel this order ?
                                </p>
                                <!-- Cancel Button -->
                                <button
                                class="block mx-auto w-[198px] px-6 py-3 rounded-[6px] bg-rosewater text-error font-semibold text-base"
                                id="confirmCancelOrder">
                                Cancel Order
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}