{% load static %}

<div class="tab-content upcoming w-full">
    {% for order in orders %}
        {% with address=order.address %}
            <div class="order-card popup-btn mb-4 mt-4 sm:mt-6 rounded-lg shadow-(--box-shadow-5) overflow-hidden cursor-pointer"
                 data-popup="order-details-popup-{{ order.id }}">
                <div class="bg-{{ primary_bg }} p-4 rounded-xl">
                    <div class="flex items-center justify-between gap-3">
                        <p class="rounded-[6px] text-[10px] sm:text-xs px-2 py-1 font-medium text-electric-purple bg-lavendar-dream">
                            Order ID #{{ order.id }}
                        </p>

                        <span class="flex items-center gap-1 text-[10px] sm:text-xs font-medium text-desaturated-blue">
                            <img src="{% static 'images/time.svg' %}" alt="time" class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                            ETA :
                            {% if order.delivery_type == "quick" %}
                                20 min
                            {% else %}
                                45 min
                            {% endif %}
                        </span>
                    </div>

                    <div class="flex items-center justify-between gap-3 mt-1 text-[10px] sm:text-sm">
                        <span class="font-semibold text-dodger-blue">
                            Upcoming
                        </span>

                        <span class="flex items-center gap-1 text-desaturated-blue">
                            <img src="{% static 'images/alarm.svg' %}" alt="alarm" class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                            {{ order.created_at|date:"D, g:i A" }}
                        </span>
                    </div>
                </div>

                <div class="bg-white">
                    <div class="flex items-start gap-3 px-4 sm:px-6 py-4 border-b border-gray-200">
                        <img src="{% static 'images/Medicinebg.svg' %}" alt="medicines" class="w-[37px] h-[37px]" />
                        <div>
                            <p class="text-xs text-foggy-silver mb-2">Medicines List</p>
                            <ul class="text-sm font-semibold space-y-1">
                                {% for med in order.medicines.all %}
                                    <li>{{ med.product_name|default:med.medicine_id }} &times; {{ med.quantity }}</li>
                                {% empty %}
                                    <li class="text-gray-400">No medicines</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="flex items-center justify-between gap-3 px-4 sm:px-6 py-4 border-b border-gray-200">

                        <div class="flex items-start gap-3">

                            <img src="{% static 'images/customer.svg' %}" alt="customer" class="w-[37px] h-[37px]" />

                            <div>
                                <p class="text-xs text-foggy-silver">Customer Details</p>

                                {% if order.order_status == "pending" %}
                                    <p class="text-sm font-semibold">Hidden until Accepted</p>
                                {% else %}
                                    <p class="text-sm font-semibold">
                                        {% if address %}
                                            {{ address.first_name }} {{ address.last_name|default:"" }}
                                        {% else %}
                                            Customer #{{ order.user_id }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </div>

                        </div>

                        {% if address.phone_number %}
                            <a href="tel:{{ address.phone_number }}"
                            class="w-[155px] h-[36px] rounded-[8px] bg-dodger-blue text-white text-xs sm:text-sm font-medium flex items-center justify-center">
                                Call Customer
                            </a>
                        {% elif order.user.phone_number %}
                            <a href="tel:{{ order.user.phone_number }}"
                            class="w-[155px] h-[36px] rounded-[8px] bg-dodger-blue text-white text-xs sm:text-sm font-medium flex items-center justify-center">
                                Call Customer
                            </a>
                        {% endif %}

                    </div>
                    <!-- <div class="flex flex-wrap gap-3 px-6 py-5">
                         <button type="button"
                                class="border px-4 py-2 rounded text-sm open-popup"
                                data-popup="order-details-popup-{{ order.id }}">
                            View Details
                        </button>
                        {% if address.phone_number %}
                            <a href="tel:{{ address.phone_number }}" class="ml-auto bg-dodger-blue text-white px-4 py-2 rounded text-sm">
                                Call Customer
                            </a>
                        {% elif order.user.phone_number %}
                            <a href="tel:{{ order.user.phone_number }}" class="ml-auto bg-dodger-blue text-white px-4 py-2 rounded text-sm">
                                Call Customer
                            </a>
                        {% endif %}
                    </div> -->
                </div>
            </div>

            {% include 'partials/order_details_popup.html' with order=order %}
        {% endwith %}
    {% empty %}
        <p class="text-center text-gray-400 mt-6">No orders found</p>
    {% endfor %}
</div>
