{% load static %}
                    <div class="equipment tab-content pt-5 space-y-6 hidden">
                        {% comment %} <div id="cards-container">
                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="flex items-center gap-3">
                                        <div class="flex flex-col">
                                            <p class="font-semibold text-sm text-jet-black">Pt. Joleen Smith</p>
                                            <span class="text-xs text-spanish-gray">Heart Disease</span>
                                        </div>
                                    </div>
                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>
                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">ICU</p>
                                    </div>
                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">ICU Bed</p>
                                    </div>
                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="flex items-center gap-3">
                                        <div class="flex flex-col">
                                            <p class="font-semibold text-sm text-jet-black">Pt. Joleen Smith</p>
                                            <span class="text-xs text-spanish-gray">Heart Disease</span>
                                        </div>
                                    </div>
                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>
                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">ICU</p>
                                    </div>
                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">ICU Bed</p>
                                    </div>
                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="assign-btn flex items-center gap-3 text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer">
                                            <span class="status-text">Assign to</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>


                                    </div>

                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>

                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">General</p>
                                    </div>

                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">Private</p>
                                    </div>

                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class=" assign-btn flex items-center gap-3 text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer">
                                            <span class="status-text">Assign to</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Assign to</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Rachel Kate</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Joleen Smith</p>

                                        </div>
                                    </div>

                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>

                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">General</p>
                                    </div>

                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">Private</p>
                                    </div>

                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class=" assign-btn flex items-center gap-3 text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer">
                                            <span class="status-text">Assign to</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Assign to</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Rachel Kate</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Joleen Smith</p>

                                        </div>
                                    </div>

                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>

                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">General</p>
                                    </div>

                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">Private</p>
                                    </div>

                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card-equipment bg-white mt-4 p-4 rounded-md shadow-appointments border border-cool-slate-gray transition cursor-pointer ">
                                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class=" assign-btn flex items-center gap-3 text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer">
                                            <span class="status-text">Assign to</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Assign to</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Rachel Kate</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Pt. Joleen Smith</p>

                                        </div>
                                    </div>

                                    <!-- Equipment Type -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">101</p>
                                    </div>

                                    <!-- Equipment ID -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">General</p>
                                    </div>

                                    <!-- Department -->
                                    <div class="flex flex-col justify-center">
                                        <p class="font-normal text-sm ">Private</p>
                                    </div>

                                    <!-- Status Dropdown -->
                                    <div class="relative flex flex-col justify-center">
                                        <button
                                            class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md  transition cursor-pointer w-[128px]">
                                            <span class="status-text">Available</span>
                                            <span
                                                class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                                        </button>

                                        <!-- Dropdown Menu -->
                                        <div
                                            class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Available</p>
                                            <p
                                                class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                                Occupied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div id="cards-container">

                        {% for bed in bed_inventory %}

                        <div
                            class="card-equipment bg-white mt-4 p-4 rounded-lg shadow-md hover:shadow-lg transition">

                            <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">

                                <!-- Assigned Patient -->
                                <div class="relative flex flex-col justify-center">

                                    <button
                                        class="assign-btn flex items-center gap-3 text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md">

                                        <span class="status-text">
                                            Assign To
                                        </span>

                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_down
                                        </span>

                                    </button>

                                </div>

                                <!-- Bed Number -->
                                <div class="flex flex-col justify-center">
                                    <p class="font-normal text-sm">
                                        {{ bed.id }}
                                    </p>
                                </div>

                                <!-- Room Type -->
                                <!-- AC Type -->
                                <div class="flex flex-col justify-center">
                                    <p class="font-normal text-sm">
                                        {% if bed.ac %}
                                            AC
                                        {% else %}
                                            Non AC
                                        {% endif %}
                                    </p>
                                </div>

                                <!-- Bed Name -->
                                <div class="flex flex-col justify-center">
                                    <p class="font-normal text-sm">
                                        {{ bed.bed_room.name }}
                                    </p>
                                </div>

                                <!-- Status -->
                                <div class="relative flex flex-col justify-center">

                                    {% if bed.is_active %}
                                    <button
                                        class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold p-2 rounded-md w-[128px]">

                                        <span class="status-text">
                                            Available
                                        </span>

                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_down
                                        </span>

                                    </button>
                                    <div
                                        class="status-dropdown hidden absolute left-0 top-full mt-2 w-[128px] bg-white border border-gray-200 rounded-md shadow-lg z-50">
                                        <p
                                            class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                            Available</p>
                                        <p
                                            class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                                            Occupied</p>
                                    </div>
                                    {% else %}
                                    <button
                                        class="status-btn flex items-center justify-between text-error bg-rosewater text-sm font-semibold p-2 rounded-md w-[128px]">

                                        <span class="status-text">
                                            Occupied
                                        </span>

                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_down
                                        </span>

                                    </button>
                                    {% endif %}

                                </div>

                            </div>

                        </div>

                        {% empty %}

                        <div class="bg-white p-8 rounded-lg text-center shadow-md">
                            No beds configured yet
                        </div>

                        {% endfor %}

                        </div>
                    </div>