<div class="modal-cancelled fixed inset-0 hidden z-50 flex items-center justify-center bg-smoky-black bg-opacity-50 px-3">

    <div class="modal-content-canceled bg-white w-[680px] rounded-lg relative max-h-[90vh] overflow-y-auto no-scrollbar">

        <!-- Header -->
        <div class="flex justify-between items-center border-b px-6 py-4">
            <h2 class="text-base font-bold">Patient Information</h2>

            <div class="flex items-center gap-4">

                <button class="cursor-pointer open-share-modal">
                    <span class="material-symbols-outlined !text-xl">
                        share
                    </span>
                </button>

                <button class="modal-close-cancelled text-gray-500 hover:text-gray-800 !text-3xl">
                    &times;
                </button>

            </div>
        </div>

        <!-- Body -->
        <div class="p-6 space-y-6">

            <!-- Patient Information -->
            <div class="bg-blue-50 rounded-md p-4 flex gap-4">

                <div class="flex flex-col">
                    <img
                        id="modal-profile-image"
                        src="/static/images/rachel-kate.svg"
                        class="w-32 rounded-md"
                    >

                    <p
                        id="modal-name"
                        class="font-normal text-sm text-center pt-4">
                    </p>
                </div>

                <!-- Left -->

                <div class="flex flex-col gap-4 w-[180px]">

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                female
                            </span>
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Gender
                            </p>

                            <p id="modal-gender" class="text-sm"></p>

                        </div>

                    </div>

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                hourglass
                            </span>
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Age
                            </p>

                            <p id="modal-age" class="text-sm"></p>

                        </div>

                    </div>

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <img src="/static/images/visit-icon.svg">
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Visit Type
                            </p>

                            <p id="modal-visit-type" class="text-sm"></p>

                        </div>

                    </div>

                </div>

                <!-- Right -->

                <div class="flex flex-col gap-4 flex-1">

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                call
                            </span>
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Phone no.
                            </p>

                            <p id="modal-phone" class="text-sm"></p>

                        </div>

                    </div>

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                calendar_today
                            </span>
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Appointment Date
                            </p>

                            <p id="modal-date" class="text-sm"></p>

                        </div>

                    </div>

                    <div class="flex gap-2">

                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                            <img src="/static/images/address-icon.svg">
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Address
                            </p>

                            <p id="modal-address" class="text-sm"></p>

                        </div>

                    </div>

                </div>

            </div>

            <hr>

            <!-- Medical -->

            <div>

                <p class="font-semibold text-sm">
                    Medical Information
                </p>

                <div class="pt-4 flex gap-5">

                    <div class="flex gap-2">

                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                lab_research
                            </span>
                        </div>

                        <div>

                            <p
                                id="modal-requirement-label"
                                class="text-xs text-spanish-gray">
                                Test Requirement
                            </p>

                            <p
                                id="modal-service-type"
                                class="text-sm">
                            </p>

                        </div>

                    </div>

                    <div class="flex gap-2">

                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                            <span class="material-symbols-outlined text-dodger-blue !text-lg">
                                details
                            </span>
                        </div>

                        <div>

                            <p class="text-xs text-spanish-gray">
                                Details
                            </p>

                            <p id="modal-details" class="text-sm"></p>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Attachment -->

            <div>

                <div class="flex justify-between items-center">

                    <p class="text-sm">
                        Attachment
                    </p>

                    <div class="view-attachment cursor-pointer flex items-center gap-1 text-dodger-blue">

                        <p class="font-semibold text-sm">
                            Image.pdf
                        </p>

                        <span class="material-symbols-outlined !text-base">
                            visibility
                        </span>

                    </div>

                </div>

            </div>

            <!-- Dynamic Timeline / Footer -->

            <div class="modal-enquiry-detail">
            </div>

        </div>

    </div>

</div>